body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.6;
}

#layout {}

#main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.image-center {
    text-align: center;
    align-items: center;
}

.image-size-120>img {
    width: 120%;
}

.image-size-100>img {
    width: 100%;
}

.image-size-50>img {
    width: 50%;
}

#internship-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
